
.btn-login {
    margin-top: 5%;
}

.btn {
    width: 20%;
    *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

.btn:hover, .btn:active, .btn[disabled] { background-color: #e6e6e6; }
.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary {
    background-color: #6666ff;
    background-image: -moz-linear-gradient(top, #3333ff, #6666ff);
    background-image: -ms-linear-gradient(top, #3333ff, #6666ff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3333ff), to(#6666ff));
    background-image: -webkit-linear-gradient(top, #3333ff, #6666ff);
    background-image: -o-linear-gradient(top, #3333ff, #6666ff);
    background-image: linear-gradient(top, #3333ff, #6666ff);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#3333ff, endColorstr=#6666ff, GradientType=0);
    border: 1px solid #2929a3;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover, .btn-primary:active, .btn-primary[disabled] { filter: none; background-color: #6666ff; }

.btn-next-wrapper{
    text-align: right;
    padding-right: 30%;
    top: 0;
}
.btn-next{
    border-radius: 1rem;
    background: none;
    width: 4rem;
}

.btn-filterAll {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}



/* MEDIA QUERYS */

@media screen and (max-width: 800px) {
    .btn { width: 30%; }
    .btn-next { width: 4rem; }
    .btn-next-wrapper{ padding-right: 25%; }
    .btn-logout { width: 50% }
    .btn-filter {  margin-top: 0.2rem; }
}
@media screen and (max-width: 400px) {
    .btn { width: 40%; }
    .btn-next {width: 4rem;}
    .btn-next-wrapper{ text-align: center; padding: 0; }
    .btn-logout { width: 80% }
    .btn-filter { width: 30%; }
}