.filter-form {
    border-radius: 20px;
    width: 95%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    text-align: center;
    margin-left: 2.5%;
    margin-top: 3%;
}

.filter-row {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.filter-form-list {
    border-radius: 20px;
    width: 95%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    text-align: center;
    margin-left: 2.5%;
    margin-top: 3%;
}

.filter-row-list {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.table-medium {
    display: none;
}

.table-small {
    display: none;
}


@media screen and (max-width: 800px) {
    .filter-form {
        margin-top: 4%;
    }

    .filter-row {
        width: 99%;
        margin-left: 0.5%;
        padding: 0;
    }

    table thead th:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
    }

    .frozen {
        position: sticky;
        left: 0;
        background-color: #f8f9fa;
    }

    .table-large-list {
        width: 690px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 750px) {
    .table-large {
        display: none;
    }

    .table-medium {
        display: flex;
        flex-direction: column;
    }

    .filter-row {
        margin-bottom: 2%;
    }

    .tbody-row {
        display: flex;
        justify-content: space-evenly;
    }

    .head {
        justify-content: space-around;
    }

    .custom-select {
        width: 40vw;
    }
}

@media screen and (max-width: 465px) {
    .table-medium {
        display: none;
    }

    .table-small {
        display: flex;
        flex-direction: column;
    }


    .filter-row {
        margin-bottom: 4%;
    }

    .custom-select {
        width: 80vw;
    }


}

@media screen and (max-width: 400px) {
    .filter-form {
        margin-top: 6%;
    }
}

@media screen and (min-width: 990px) {
}